<app-alert-window
  [title]="'CREATE_ADMIN_ACCOUNT' | translate"
  [isShown]="isWindowShown"
  (onClose)="onCreateAdminWindowCloseHandler($event)"
>
  <div content>

    <form #form="ngForm">

      <div class="form-group">
        <label for="email">{{ 'EMAIL' | translate }}</label>
        <input
          id="email"
          class="form-control"
          type="email"
          autocomplete="off"
          [(ngModel)]="data.email"
          name="email"
          required
          [ngClass]="!!errors.email ? 'is-invalid' : ''"
        />
        <app-form-field-error-list [field]="'email'" [errors]="errors"></app-form-field-error-list>
      </div>

      <div class="form-group">
        <label for="fullName">{{ 'FULL_NAME' | translate }}</label>
        <input
          id="fullName"
          class="form-control"
          type="text"
          autocomplete="off"
          name="fullName"
          [(ngModel)]="data.fullName"
          required
          [ngClass]="!!errors.fullName ? 'is-invalid' : ''"
        />
        <app-form-field-error-list [field]="'fullName'" [errors]="errors"></app-form-field-error-list>
      </div>

      <div class="form-group">
        <label for="password">{{ 'PASSWORD' | translate }}</label>
        <input
          id="password"
          class="form-control"
          autocomplete="off"
          type="password"
          name="password"
          [(ngModel)]="data.password"
          required
          [ngClass]="!!errors.password ? 'is-invalid' : ''"
        />
        <app-form-field-error-list [field]="'password'" [errors]="errors"></app-form-field-error-list>
      </div>

      <div class="form-group">
        <label for="passwordRepeat">{{ 'CONFIRM_PASSWORD' | translate }}</label>
        <input
          id="passwordRepeat"
          class="form-control"
          autocomplete="off"
          type="password"
          name="passwordRepeat"
          [(ngModel)]="data.passwordRepeat"
          required
          [ngClass]="!!errors.passwordRepeat ? 'is-invalid' : ''"
        />
        <app-form-field-error-list [field]="'passwordRepeat'" [errors]="errors"></app-form-field-error-list>
      </div>

    </form>

  </div>

  <div footer>
    <button
      [disabled]="!form.valid || isSubmitting"
      type="button"
      class="btn btn-outline-success"
      (click)="onCreateAdminClickHandler($event)"

    >{{ 'CREATE' | translate }}</button>
  </div>

</app-alert-window>
