<div *ngIf="list !== null">
  <div class="user-list"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="50"
       [infiniteScrollDisabled]="infiniteScrollDisabled"
       (scrolled)="onScroll()">

    <app-search-list-item
      *ngFor="let user of list"
      [user]="user"
    ></app-search-list-item>

    <p class="alert alert-info m-2" *ngIf="list.length === 0">
      {{ 'NO_ONE_AROUND_YOUR_PLACE' | translate }}! {{ 'TRY_TO_FIND_SOMEONE_ONE' | translate }} <a [routerLink]="'/'" class="btn btn-primary">{{ 'CHAT_WHEEL' | translate }}!</a>
    </p>
  </div>
</div>
