<div class="authentication-form mx-auto">
  <div class="card card-form-security">
    <div class="card-header">
      <h3 class="m0 m-auto text-white">{{ 'PASSWORD_STORE_HEADER' | translate }}</h3>
    </div>
    <div class="card-body">

      <app-online-user-number-dynamic></app-online-user-number-dynamic>
      <ng-container *ngIf="isPasswordChanged">
        <div class="alert alert-success" role="alert">
          {{ 'PASSWORD_SUCCESSFULLY_CHANGED' | translate }}
        </div>
      </ng-container>

      <ng-container *ngIf="!isPasswordChanged">
        <ng-container *ngIf="!isKeyChecked">
          <div class="alert alert-secondary" role="alert">
            {{ 'CHECKING_THE_LINK' | translate }}
          </div>
        </ng-container>
        <ng-container *ngIf="!!keyCheckError">
          <div class="alert alert-danger" role="alert">
            {{ keyCheckError }}
          </div>
        </ng-container>

        <ng-container *ngIf="isKeyChecked && !keyCheckError">
          <ng-container *ngIf="(errors | async )">
            <app-form-field-error-list [field]="'key'" [errors]="errors"></app-form-field-error-list>
          </ng-container>

          <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="form-group">
              <input
                ngModel
                name="password"
                type="password"
                autocomplete
                class="form-control"
                placeholder="{{ 'PASSWORD' | translate }}"
                required
              >
              <i class="ik ik-lock"></i>
              <ng-container *ngIf="(errors | async )">
                <app-form-field-error-list [field]="'password'" [errors]="errors"></app-form-field-error-list>
              </ng-container>
            </div>
            <div class="form-group">
              <input
                ngModel
                name="passwordRepeat"
                type="password"
                class="form-control"
                placeholder="{{ 'CONFIRM_PASSWORD' | translate }}"
                required
              >
              <i class="ik ik-eye-off"></i>
              <ng-container *ngIf="(errors | async )">
                <app-form-field-error-list [field]="'passwordRepeat'" [errors]="errors"></app-form-field-error-list>
              </ng-container>
            </div>
            <div class="sign-btn text-center">
              <button type="submit" class="btn btn-theme" [disabled]="!form.valid">{{ 'CHANGE_PASSWORD' | translate }}</button>
            </div>
          </form>
        </ng-container>

      </ng-container>

      <div class="register">
        <a routerLink="/security/register" class="mr-2 btn btn-success">{{ 'CREATE_AN_ACCOUNT' | translate }}</a>
        <a routerLink="/security/login" class="mr-2 btn btn-primary">{{ 'SIGN_IN' | translate }}</a>
      </div>



    </div>
  </div>
</div>
