.video-container {
  background-color: black;
}



.video-container .issue
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video-container .issue .no-video-container,
.video-container .issue .media-progress
{
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.video-container .no-video-container .icon {
  color: white;
  font-size: 4em;
}

.video-container .no-video-container .control {

}

.video-container .stream-container
{
  position: relative;
  width: 100%;
  height: 100%;
}

.video-container .stream-container video
{
  width: 100%;
  position: relative;
  z-index: 1;
}

.video-container .stream-container .taken-picture
{
  width: 100%;
  /*height: 100%;*/
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
}

.video-container .stream-container .taken-picture.hidden
{
  display: none;
}


.video-container .stream-container.hidden
{
  display: none;
}


.video-container .stream-container .controls
{
  position: absolute;
  left: 5px;
  bottom: 5px;

  z-index: 20;
}

.video-container .stream-container .controls button
{
  color: white;
}

.video-container .stream-container .controls .hidden
{
  display: none;
}

