<ng-container *ngIf="!!(user | async)">
  <div class="row profile-page left-column">
    <div class="col-lg-4 col-md-5">
      <div class="card" *ngIf="(user | async)">
        <div class="card-body">
          <div class="text-center">
            <div class="avatar-wrapper">
              <app-editable-user-avatar [size]="'medium'" [user]="(user | async)" ></app-editable-user-avatar>
            </div>
            <app-edit-full-name [user]="(user | async)" [customView]="true">
              <h4 class="card-title mt-10" view-area>{{ (user | async).fullName }}</h4>
            </app-edit-full-name>
          </div>
        </div>
        <hr class="mb-0">
        <div class="card-body">
          <small class="text-muted d-block">Email address </small>
          <h6>{{ ( user | async ).email ? (user | async).email : '-' }}</h6>
          <app-edit-map-location [user]="(user | async)"></app-edit-map-location>
<!--          <app-map-location-view [user]="(user | async)"></app-map-location-view>-->
        </div>
      </div>
    </div>

    <div class="col-lg-8 col-md-7">

      <div class="card">

        <ul class="nav nav-pills custom-pills" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a routerLink="./" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" class="nav-link show" data-toggle="pill" role="tab">Profile</a>
          </li>
          <li class="nav-item">
            <a routerLink="messages" routerLinkActive="active" class="nav-link show" data-toggle="pill" role="tab">Messages</a>
          </li>
          <li class="nav-item">
            <a routerLink="calls" routerLinkActive="active" class="nav-link show" data-toggle="pill" role="tab">Calls</a>
          </li>
          <li class="nav-item">
            <a routerLink="settings" routerLinkActive="active" class="nav-link show" data-toggle="pill" role="tab">Settings</a>
          </li>
        </ul>



        <div class="tab-content" id="pills-tabContent">

          <div class="tab-pane fade active show" id="current-month" role="tabpanel" aria-labelledby="pills-timeline-tab">
            <div class="card-body">
              <router-outlet></router-outlet>
            </div>
          </div>

        </div>

      </div>
    </div>


  </div>
</ng-container>





