<div>

  <app-main-content-header
    [header]="'DASHBOARD'"
    [icon]="'pie-chart'"
    [subHeader]="'STATISTICS' | translate"
  ></app-main-content-header>

  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="widget bg-danger">
        <div class="widget-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="state">
              <h6>{{ 'TOTAL_USERS' | translate }}</h6>
              <h2>{{ totalUserNumber | async }}</h2>
              <span>{{ 'TOTAL' | translate }}</span>
            </div>
            <div class="icon">
              <i class="ik ik-users"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="widget bg-success">
        <div class="widget-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="state">
              <h6>{{ 'EMAIL_USERS' | translate }}</h6>
              <h2>{{ emailUserNumber | async }}</h2>
              <span *ngIf="!!(emailUserNumberPercentage | async)">({{ emailUserNumberPercentage | async }})</span>
            </div>
            <div class="icon">
              <i class="ik ik-mail mr-1"></i>
              <i class="ik ik-users"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="widget bg-primary">
        <div class="widget-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="state">
              <h6>{{ 'VK_USERS' | translate }}</h6>
              <h2>{{ vkUserNumber | async }}</h2>
              <span *ngIf="!!(vkUserNumberPercentage | async)">({{ vkUserNumberPercentage | async }})</span>
            </div>
            <div class="icon">
              <img src="../../../../../assets/picture/vk-icon.png" style="width: 30px" class="mr-1 mb-2">
              <i class="ik ik-users"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="widget bg-warning pb-3">
        <div class="widget-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="state">
              <h6>{{ 'ABUSE_REPORTS' | translate }}</h6>
              <h2>
                {{ abuseReportTotalNumber | async }}
                <ng-container *ngIf="(abuseReportNewNumber | async) > 0">
                  / {{ (abuseReportNewNumber | async) }}
                </ng-container>
              </h2>
            </div>
            <div class="icon">
              <i class="ik ik-clipboard"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-4">
      <app-client-user-fractions-chart
        [numbers]="[
          {label: ('EMAIL_USERS' | translate) + ' ', number: emailUserNumber | async, color: '#2dce89' },
          {label: ('VK_USERS' | translate) + ' ', number: vkUserNumber | async, color: '#007bff' },
        ]"
      ></app-client-user-fractions-chart>
    </div>
    <div class="col-md-8">
      <ng-container *ngIf="!!allUserDynamicStatistic && !!emailUserDynamicStatistics && !!vkUserDynamicStatistics">
        <app-client-user-dynamic-statistics-chart
          [endMonth]="dynamicEndMonth"
          [startMonth]="dynamicStartMonth"
          [data]="[
          allUserDynamicStatistic,
          emailUserDynamicStatistics,
          vkUserDynamicStatistics
        ]"
        ></app-client-user-dynamic-statistics-chart>
      </ng-container>

    </div>
  </div>

  <div class="row">

    <ng-container *ngIf="!!abuseReportTypeNumbers">

      <div class="col-md-3" *ngFor="let item of abuseReportTypeNumbers">
        <app-abuse-report-type-statistic
          [statistic]="item"
          [total]="abuseReportTotalNumber | async"
        ></app-abuse-report-type-statistic>
      </div>

    </ng-container>

  </div>

  <div class="row">

    <div class="col-md-12">
      <app-abuse-report-dynamic-statistic-chart
        [startMonth]="dynamicStartMonth"
        [endMonth]="dynamicEndMonth"
        [statistics]="abuseReportDynamicStatistics"
      ></app-abuse-report-dynamic-statistic-chart>
    </div>

  </div>

</div>
