
<div class="page-header">
  <div class="row align-items-end">
    <div class="col-lg-8">
      <div class="page-header-title">
        <i class="ik ik-{{ icon }} bg-blue"></i>
        <div class="d-inline">
          <h5>{{ header | translate }}</h5>
          <span *ngIf="!!subHeader">{{ subHeader | translate }}</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
<!--      <nav class="breadcrumb-container" aria-label="breadcrumb">-->
<!--        <ol class="breadcrumb">-->
<!--          <li class="breadcrumb-item">-->
<!--            <a href="../index.html"><i class="ik ik-home"></i></a>-->
<!--          </li>-->
<!--          <li class="breadcrumb-item">-->
<!--            <a href="#">Charts</a>-->
<!--          </li>-->
<!--          <li class="breadcrumb-item active" aria-current="page">Chartist</li>-->
<!--        </ol>-->
<!--      </nav>-->
    </div>
  </div>
</div>
