<div class="p-4 border-top mt-15">

  <ng-container *ngIf="!user.amIBanned && !user.isBanned">

    <div class="row text-center">
      <div class="col-4 border-right">
        <a [routerLink]="'/profile/me/messages/conversation/user/' + user.id" class="link d-flex align-items-center justify-content-center btn pl-0 pr-0 pt-0 pb-0">
          <i class="ik ik-message-square f-20 mr-5"></i>Message
        </a>
      </div>
      <div class="col-4 border-right">
        <span
          (click)="onCallButtonClickHandler($event)"
          class="link d-flex align-items-center justify-content-center btn pl-0 pr-0 pt-0 pb-0"
        >
          <i class="ik ik-video f-20 mr-5"></i>Call
        </span>
      </div>
      <div class="col-4">
        <span (click)="onReportAbuseClickHandler($event)"
              class="link d-flex align-items-center justify-content-center text-danger btn pl-0 pr-0 pt-0 pb-0"
        ><i class="ik ik-alert-circle f-20 mr-5"></i>
          Report Abuse
        </span>
      </div>
    </div>

  </ng-container>

  <ng-container *ngIf="user.isBanned">

    <div class="text-center">
      <div>
        <span class="text-muted">You've blocked the user!</span>
      </div>
      <div>
          <span (click)="onUnblockUserClickHandler($event)"
            class="link d-flex align-items-center justify-content-center btn pl-0 pr-0 pt-0 pb-0"
          ><i class="ik ik-unlock f-20 mr-5"></i>Unblock
          </span>
      </div>
    </div>


  </ng-container>

  <ng-container *ngIf="user.amIBanned && !user.isBanned">

    <div class="text-center">
      <div>
        <span class="text-muted">You've been blocked by this user!</span>
      </div>
      <div>
          <span (click)="onReportAbuseClickHandler($event)"
                class="link d-flex align-items-center justify-content-center text-danger btn pl-0 pr-0 pt-0 pb-0"
          ><i class="ik ik-alert-circle f-20 mr-5"></i>
          Report Abuse
        </span>
      </div>
    </div>

  </ng-container>
</div>
