.call-window
{
  background: black;
  height: 100%;
}

.call-window.size-minimized
{

}

.loader-container
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 50;
}

.call-window .window-container .addressee-block {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  background: #cccccc38;
  padding-right: 15px;
}

.call-window .window-container .addressee-block .addressee
{
  position: relative;
  color: #ccc;
}

.call-window .window-container .addressee-block .addressee .avatar-container {
  position: absolute;
  top: 10px;
  left: 10px;
}
.call-window .window-container .addressee-block .addressee .user-name {
  margin-left: 50px;
  padding-top: 10px;
}

.loader
{
  position: relative
}

.loader .icon-container
{
  position: absolute;
  font-size: 28px;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  padding-left: 0px;
  padding-top: 4px;
}

.call-window .window-container {
  position: relative;
  min-height: 600px;
  height: 100%;
}


.call-window .window-container .window-controls .control {
}

.call-window .window-container .window-controls .control:hover {
  color: #ccc;
}

.call-window .window-container .remote-video-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.call-window .window-container .remote-video-container video {
  width: 100%;
  height: 100%;
}

.call-window .window-container .local-video-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  max-width: 200px;
  z-index: 2;
}

.call-window .window-container .local-video-container video {
  width: 100%;
}

.call-window .window-container .call-controls {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  z-index: 3;

}
.call-window .window-container .call-controls .control {
  font-size: 28px !important;
  height: unset;
  color: #ccc;
  padding: 5px;
  border-radius: 50%;
  border: 0;
}

.call-window .window-container .message-controls {
  z-index: 7;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.call-window .window-container .message-controls .control {
  font-size: 28px !important;
  height: unset;
  color: #ccc;
  padding: 5px;
  border: 0;
  border-radius: 50%;
}

.call-window .window-container .error-container {
  position: absolute;
  z-index: 10;
  color: #ccc;
  width: 100%;
  margin: auto;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}


.blob {
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgb(0 0 0);
  margin: 0 auto;
  height: 70px;
  width: 70px;
  transform: scale(1);
  vertical-align: middle;
  animation: pulse-black 2s infinite;
  line-height: 70px;
  font-size: 28px;
  text-align: center;
  color: white
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.blob.white {
  background: white;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.blob.red {
  background: rgba(255, 82, 82, 1);
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
  animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

.blob.orange {
  background: rgba(255, 121, 63, 1);
  box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
  animation: pulse-orange 2s infinite;
}

@keyframes pulse-orange {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
  }
}

.blob.yellow {
  background: rgba(255, 177, 66, 1);
  box-shadow: 0 0 0 0 rgba(255, 177, 66, 1);
  animation: pulse-yellow 2s infinite;
}

@keyframes pulse-yellow {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
  }
}

.blob.blue {
  background: #007bff;
  box-shadow: 0 0 0 0 #007bff;
  animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}

.blob.green {
  background: rgba(51, 217, 178, 1);
  box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
  animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}

.blob.purple {
  background: rgba(142, 68, 173, 1);
  box-shadow: 0 0 0 0 rgba(142, 68, 173, 1);
  animation: pulse-purple 2s infinite;
}

@keyframes pulse-purple {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(142, 68, 173, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
  }
}
