<div class="text-muted">

  <ng-container *ngIf="isLoadingInfo">
    <img src="../../../../../assets/ajax-loader.gif" />
  </ng-container>

  <ng-container *ngIf="!isLoadingInfo">

    <ng-container *ngIf="!isError">
      <ng-container *ngIf="!!locationInfo; else noLocation">
        <span class="text-muted"><b>{{ locationInfo.county }}</b> ({{ locationInfo.country }})</span>
      </ng-container>
      <ng-template #noLocation> - </ng-template>
    </ng-container>
    <ng-container *ngIf="isError">
      <span class="ik ik-alert-triangle" title="{{ 'COULD_NOT_IDENTIFY_LOCATION' | translate }}"></span>
    </ng-container>
  </ng-container>

</div>
