<ng-template #modalWindow let-modal>

  <ng-container *ngIf="_initiatedCallAddressee !== null">
    <app-direct-call
      [authorizedUser]="authorizedUser"
      [initiateToAddressee]="_initiatedCallAddressee"
      [rejectedMember]="_lastMemberRejected"
      [hungUpMember]="_lastMemberHungUp"
      (onHangUp)="onHangUpHandler($event)"
    ></app-direct-call>
  </ng-container>

  <ng-container *ngIf="_incomingCall !== null">
    <app-direct-call
      [authorizedUser]="authorizedUser"
      [receivingCall]="_incomingCall"
      [hungUpMember]="_lastMemberHungUp"
      [rejectedMember]="_lastMemberRejected"
      (onHangUp)="onHangUpHandler($event)"
    ></app-direct-call>
  </ng-container>

</ng-template>
