<div class="overlay" [ngClass]="windowShown ? 'd-block' : 'd-none'">
</div>

<div class="call-window" [ngClass]="windowShown ? 'd-block' : 'd-none'">
  <div class="window-container">

    <div class="window-controls">

    <span class="control btn">
      <i class="ik ik-minus"></i>
    </span>

      <span class="control btn mr-1">
      <i class="ik ik-square"></i>
    </span>

      <span class="control btn mr-1">
      <i class="ik ik-minimize-2"></i>
    </span>

      <span class="control btn mr-1">
      <i class="ik ik-x"></i>
    </span>

    </div>


      <div class="remote-video-container">

        <div class="loader-container"
             *ngIf="(uiState === 'calling_addressee') || (uiState === 'receiving_call')">
          <img src="../../../../../../assets/ajax-loader.gif">
        </div>

        <video
          #remoteVideo
          [autoplay]="true"
        ></video>

      </div>

      <div class="local-video-container">
        <video
          #localVideo
          [autoplay]="true"
          [muted]="'muted'"
        ></video>
      </div>

      <div class="call-controls">
        <div class="control btn" title="Hang Up">
          <i class="ik ik-phone-off"></i>
        </div>
        <div class="control btn" title="Report Abuse">
          <i class="ik ik-alert-circle"></i>
        </div>
      </div>


      <div class="message-controls">
        <div class="control">
          <i class="ik ik-message-square"></i>
        </div>
      </div>

    <div *ngIf="!!error" class="error-container">

      <div>
        <i class="ik ik-alert-triangle"></i>
      </div>
      <div>
        <span class="text-muted">{{ error.message }}</span>
      </div>

    </div>

  </div>
</div>


