<ng-container>
  <h4>Delete Account</h4>
  <hr />
  <div>
    <span class="btn btn-outline-danger" (click)="onDeleteClickHandler($event)">Delete Account</span>
  </div>
</ng-container>

<ng-template #confirmationWindow let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Deleting Account</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you wanna delete your account?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>
    <button type="button" class="btn btn-outline-danger" (click)="onDeleteConfirmClickHandler($event)">Delete</button>
  </div>
</ng-template>
