<div>
  <p class="alert alert-info" *ngIf="errorMessage === null; else errorTemplate;">
    <img src="../../../../../assets/picture/vk-icon.png" style="width: 50px;" class="mr-2">
    {{ 'AUTHORIZING' | translate }}...
  </p>
  <ng-template #errorTemplate>
    <p class="alert alert-danger">{{ errorMessage }}</p>
    <div class="text-center">
      <a class="btn btn-primary mr-2">{{ 'SIGN_IN_VIA_EMAIL' | translate }}</a>
      <a class="btn btn-danger">{{ 'CREATE_ACCOUNT' | translate }}</a>
    </div>
  </ng-template>
</div>
