<ng-container *ngIf="!!user">
  <div class="row profile-page left-column">
    <div class="col-lg-4 col-md-5">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <div class="avatar-wrapper">
              <app-user-avatar [size]="'medium'" [user]="user" [isLightBox]="true"></app-user-avatar>
            </div>
            <h4 class="card-title mt-10">{{ user.fullName }}</h4>
          </div>
        </div>
        <app-action-menu [user]="user"></app-action-menu>
        <hr class="mb-0">
        <div class="card-body">
          <ng-container *ngIf="!!user.geoLocation">
            <app-map-location-view [user]="user"></app-map-location-view>
          </ng-container>
        </div>

      </div>
    </div>

    <div class="col-lg-8 col-md-7">

      <div class="card">

        <ul class="nav nav-pills custom-pills" id="pills-tab" role="tablist">
          <li class="nav-item">
            <span class="nav-link show active" data-toggle="pill" role="tab">Profile</span>
          </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">

          <div class="tab-pane fade active show" id="current-month" role="tabpanel" aria-labelledby="pills-timeline-tab">
            <div class="card-body">

              <div class="row">
                <div class="col-md-3 col-6"> <strong>Full Name</strong>
                  <br>
                  <p class="text-muted">
                    {{ user.fullName }}
                  </p>
                </div>
                <div class="col-md-3 col-6"> <strong>Location</strong>
                  <br>
                  <app-text-location-view [user]="user"></app-text-location-view>
                </div>
              </div>

              <hr />
              <ng-container *ngIf="!!user.about">
                <p class="mt-30" >
                  {{ user.about }}
                </p>
                <hr />
              </ng-container>

              <app-user-interests-view [user]="user" [noInterestsMessage]="'The user has not described their interests yet...'"></app-user-interests-view>
              <hr />

              <app-selected-country-view
                [country]="user.residenceCountry"
                [noSelectedMessage]="'Not pointed out yet...'"
                [label]="'Residence Country'"
              ></app-selected-country-view>
              <hr />

            </div>
          </div>

        </div>

      </div>
    </div>


  </div>
</ng-container>
