<div class="authentication-form mx-auto">
  <div class="card card-form-security">
    <div class="card-header">
      <h3 class="m0 m-auto text-white">{{ 'REGISTER_FORM_HEADER' | translate }}</h3>
    </div>
    <div class="card-body">
      <p class="text-white">{{ 'REGISTER_FORM_SUBTITLE' | translate }}</p>
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="form-group">
          <input
            ngModel
            name="email"
            email
            type="email"
            class="form-control"
            placeholder="{{ 'EMAIL' | translate }}"
            required
          >
          <i class="ik ik-mail"></i>
          <ng-container *ngIf="(errors | async )">
            <app-form-field-error-list [field]="'email'" [errors]="errors"></app-form-field-error-list>
          </ng-container>
        </div>

        <div class="form-group">
          <input
            ngModel
            name="fullName"
            type="text"
            class="form-control"
            placeholder="{{ 'YOUR_NAME_VISIBLE_FOR_OTHERS' | translate }}"
            required
          />
          <i class="ik ik-user"></i>
          <ng-container *ngIf="(errors | async )">
            <app-form-field-error-list [field]="'fullName'" [errors]="errors"></app-form-field-error-list>
          </ng-container>
        </div>
        <div class="form-group">
          <input
            ngModel
            name="password"
            type="password"
            autocomplete
            class="form-control"
            placeholder="{{ 'PASSWORD' | translate }}"
            required
          >
          <i class="ik ik-lock"></i>
          <ng-container *ngIf="(errors | async )">
            <app-form-field-error-list [field]="'password'" [errors]="errors"></app-form-field-error-list>
          </ng-container>
        </div>
        <div class="form-group">
          <input
            ngModel
            name="passwordRepeat"
            type="password"
            class="form-control"
            placeholder="{{ 'CONFIRM_PASSWORD' | translate }}"
            required
          >
          <i class="ik ik-eye-off"></i>
          <ng-container *ngIf="(errors | async )">
            <app-form-field-error-list [field]="'passwordRepeat'" [errors]="errors"></app-form-field-error-list>
          </ng-container>
        </div>

        <div class="sign-btn text-center">
          <button type="submit" class="btn btn-theme" [disabled]="!form.valid">{{ 'CREATE_ACCOUNT' | translate }}</button>
        </div>
      </form>
      <div class="register">
        <p class="text-white">{{ 'ALREADY_HAVE_AN_ACCOUNT' | translate }} <a routerLink="/security/login" class="text-white">{{ 'SIGN_IN' | translate }}</a></p>
      </div>
    </div>
  </div>

</div>


