body
{
  background: #F6F7FB;
}

.header-menu
{
  padding-left: 10px;
}

.header-menu .left-menu-item
{
  padding-right: 15px;
}

.authentication-form
{
  width: 100% !important;
  padding-top: 50px !important;
}

.header-menu .left-menu-item.nav-link.active
{
  background: rgb(221, 221, 221);
  /*color: white;*/
}

.select2
{
  display: block;
}

.bootstrap-tagsinput .tag
{
  text-transform: none !important;
  /*background-color: #007bff;*/
}

.user-status.bg-active
{
  background-color: #2dce89 !important;
  border-color: #2dce89 !important;;
}

.user-status.bg-was-recently
{
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}

.user-status.bg-offline
{
  background-color: #e2e3e5 !important;
  border-color: #e2e3e5 !important;
}

.profile-page.left-column .avatar-wrapper
{
  width: 150px;
  height: 150px;
  margin: auto;
  text-align: center;
}

.modal-content {
  border-radius: unset !important;
  border: unset !important;
}


.modal-xl {
  max-width: 1024px !important;
}

.modal
{
  pointer-events: none !important;
}

.popover-body
{
  max-width: 400px !important;
  max-height: 400px !important;
}

.popover
{
  max-width: 400px !important;
}

.form-group label
{
  font-size: .8rem !important;
}

/**
=================================== SECURITY INTERFACE =====================================
 */


.card-form-security
{
  background: #4444447a !important;
}

/*
=================================== ADMIN INTERFACE ========================================
*/


.admin-user-window-item {
  position: relative;
}

.admin-user-window-item .avatar-container {
  position: absolute;
  top: 15px;
  left: 15px;
}

.admin-user-window-item .admin-user-window-info {
  position: relative;
  margin-left: 80px;
  padding-top: 10px;
}

.admin-user-window-item .form-container {

}

.country-flag
{
  width: 50px;
  height: 25px;
}

.abuse-report-item {
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #cccccc57;
}

.abuse-report-item.new
{
  background-color: #e9e9e9;
}

.abuse-report-item:hover {
  background: rgba(0,0,0,.075);
}


/*
//=================================== ADMIN INTERFACE ========================================
*/

/**
===================================== DATEPICKER FIX =========================================
 */
[ngbdatepicker] + .dropdown-menu.show
{
  width: unset !important;
}

.ngb-dp-day.disabled, .ngb-dp-day.hidden
{
  display: block !important;
}
/**
//=================================== DATEPICKER FIX =========================================
 */


.profile-map-location-container
{
  display: block;
}

.profile-map-location-display-button
{
  display: none;
}


@media screen and (max-width: 767px) {
  .profile-map-location-container {
    display: none;
  }

  .profile-map-location-display-button
  {
    display: block;
  }
}
