<ng-container *ngIf="!user.geoLocation">
  <div class="empty-geo-location-container">
    <div class="content">
      <div>
        <p class="text-body">{{ 'LET_USERS_KNOW_WHERE_YOU_ARE' | translate }}</p>
      </div>
      <div>
        <span class="btn btn-primary" (click)="onUpdateClickHandler($event)"><i class="ik ik-map-pin"></i> {{ 'UPDATE' | translate }}</span>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!!user.geoLocation">
  <app-map-location-view [user]="user"></app-map-location-view>
</ng-container>
