.editable-field-container {
  position: relative;
}

.editable-field-container .progress {
  position: absolute;
  top: 0;
  right: 0;
}

.editable-field-container .controls {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.editable-field-container:hover .controls {
  display: block;
}

.editable-field-container .view-area {
  display: block;
}

.editable-field-container .view-area.hidden,
.editable-field-container .controls.hidden,
.editable-field-container .progress.hidden {
  display: none;
}

.editable-field-container .form-area {
  display: none;
}

.editable-field-container .form-area.visible,
.editable-field-container .view-area.visible,
.editable-field-container .progress.visible
{
  display: block;
}
