<app-editable-field
  (onCancel)="onCancelEditHandler($event)"
  (onInit)="onEditInitHandler($event)"
  (onCommit)="onEditCommitHandler($event)"
  [saving]="isSaving"
>
  <ng-container *ngIf="customView; else defaultTemplate" view-area>
    <ng-content select="[view-area]"></ng-content>
  </ng-container>
  <ng-template #defaultTemplate>
    <p class="text-muted" view-area>
      {{ user.fullName }}
    </p>
  </ng-template>

  <div edit-area>
    <form class="form-horizontal">
      <div class="form-group">
        <input
          class="form-control"
          placeholder="{{ 'YOUR_NAME' | translate }}"
          [(ngModel)]="name"
          name="name"
          required
        />
      </div>
    </form>
  </div>
</app-editable-field>
