<app-editable-field
  (onCancel)="onCancelEditHandler($event)"
  (onInit)="onEditInitHandler($event)"
  (onCommit)="onEditCommitHandler($event)"
  [isEditingCustom]="customEditing"
>

  <div view-area>
    <app-user-interests-view [user]="user" [noInterestsMessage]="'Describe your interests so that people know you better!'"></app-user-interests-view>
  </div>

  <div edit-area>
    <form>
      <div class="form-group">
        <label>Interests</label>
        <input type="text" id="interests" class="form-control" data-role="tagsinput">
      </div>
    </form>

  </div>

</app-editable-field>
