<app-alert-window
  [title]="'RESET_ADMIN_PASSWORD' | translate"
  [isShown]="!!admin"
  (onClose)="onResetAdminPasswordCloseWindowHandler($event)"
>
  <div content>

    <div class="admin-user-window-item p-2 mb-2" *ngIf="!!admin">
      <div class="avatar-container">
        <app-user-avatar
          [size]="'mediumSmall'"
          [user]="admin"
          [isActivityVisible]="true"
        ></app-user-avatar>
      </div>
      <div class="admin-user-window-info">
        <h4>{{ admin.fullName }}</h4>
        <span class="badge badge-light text-muted">{{ admin.email }}</span>
      </div>
    </div>

    <div class="form-container p-2">
      <form #form="ngForm">
        <div class="form-group">
          <label for="reset-password">{{ 'PASSWORD' | translate }}</label>
          <input
            id="reset-password"
            type="password"
            name="resetPassword"
            [(ngModel)]="data.password"
            class="form-control"
            required
            [ngClass]="!!errors.password ? 'is-invalid' : ''"
          />
          <app-form-field-error-list [field]="'password'" [errors]="errors"></app-form-field-error-list>
        </div>
        <div class="form-group">
          <label for="reset-password-repeat">{{ 'CONFIRM_PASSWORD' | translate }}</label>
          <input
            id="reset-password-repeat"
            type="password"
            name="resetPasswordRepeat"
            [(ngModel)]="data.passwordRepeat"
            class="form-control"
            required
            [ngClass]="!!errors.passwordRepeat ? 'is-invalid' : ''"
          />
          <app-form-field-error-list [field]="'passwordRepeat'" [errors]="errors"></app-form-field-error-list>
        </div>
      </form>
    </div>

  </div>

  <div footer>

    <button
      [disabled]="!form.valid || isSubmitting"
      type="button"
      class="btn btn-outline-success"
      (click)="onResetAdminPasswordClickHandler($event)"

    >{{ 'RESET' | translate }}</button>
  </div>

</app-alert-window>
