<app-page-header></app-page-header>

<div class="page-wrap">
  <div class="main-content">
    <div class="container-fluid">

      <router-outlet></router-outlet>

    </div>

  </div>
  <app-footer></app-footer>
</div>
<app-camera-profile-picture-grabber-window></app-camera-profile-picture-grabber-window>
<app-report-abuse-listener></app-report-abuse-listener>
<app-message-observer></app-message-observer>
<app-user-activity-observer></app-user-activity-observer>
<app-calls-observer></app-calls-observer>

