<div>

  <ng-container *ngIf="list !== null">

    <div
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      [infiniteScrollDisabled]="infiniteScrollDisabled"
      (scrolled)="onScroll()"

    >

      <ng-container *ngIf="list.length > 0">
        <div class="table-responsive">
          <table class="table table-hover mb-0 without-header">
            <tbody>


            <tr
              app-call-list-item
              [user]="authorizedUser"
              *ngFor="let call of list"
              [call]="call"
            ></tr>
            </tbody>
          </table>
        </div>
      </ng-container>

      <ng-container *ngIf="list.length === 0">
        <p class="alert alert-info m-4">
          {{ 'YOU_HAVE_NO_CONVERSATIONS_YET' | translate }}! {{ 'MEET_PEOPLE_ON' | translate }} <a routerLink="/" class="btn btn-primary">{{ 'CHAT_WHEEL' | translate }}</a> {{ 'OR' | translate }}
          <a routerLink="/nearby" class="btn btn-success">{{ 'NEAR_BY' | translate }}</a> :-)
        </p>
      </ng-container>

    </div>

  </ng-container>



</div>
