<app-editable-field
  (onCancel)="onCancelEditHandler($event)"
  (onInit)="onEditInitHandler($event)"
  (onCommit)="onEditCommitHandler($event)"
  [saving]="isSaving"
>

  <div view-area>
    <h5>{{ 'ABOUT_YOU' | translate }}</h5>
    <span class="text-muted" *ngIf="!user.about; else aboutYourself;">{{ 'TELL_PEOPLE_ABOUT_YOURSELF' | translate }}...</span>
    <ng-template #aboutYourself>
      <span [innerHTML]="user.about | multiLine"></span>
    </ng-template>
  </div>

  <div edit-area>
    <form class="form-horizontal">
      <div class="form-group">
        <textarea
          class="form-control"
          placeholder="{{ 'PLACEHOLDER_ABOUT_YOURSELF' | translate }}"
          [(ngModel)]="about"
          name="about"
          required
        ></textarea>
      </div>
    </form>
  </div>

</app-editable-field>
