<app-editable-field
  (onCancel)="onCancelEditHandler($event)"
  (onInit)="onEditInitHandler($event)"
  (onCommit)="onEditCommitHandler($event)"
  [saving]="isSaving"
>

  <div view-area>
    <h5>About you</h5>
    <span class="text-muted" *ngIf="!user.about; else aboutYourself;">Tell people about yourself...</span>
    <ng-template #aboutYourself>{{ user.about }}</ng-template>
  </div>

  <div edit-area>
    <form class="form-horizontal">
      <div class="form-group">
        <textarea
          class="form-control"
          placeholder="About yourself"
          [(ngModel)]="about"
          name="about"
          required
        ></textarea>
      </div>
    </form>
  </div>

</app-editable-field>
