<div class="authentication-form mx-auto">
  <div class="card">
    <div class="card-header">
      <h3 class="m0 m-auto">{{ 'RESTORE_PASSWORD' | translate }}</h3>
    </div>
    <div class="card-body">

      <ng-container *ngIf="secondsLeft > 0">
        <div class="alert" role="alert" [ngClass]="wasError ? 'alert-danger' : 'alert-success'">
          {{ 'YOU_MAY_REQUEST_A_NEW_LINK_IN' | translate }} <b>{{ secondsLeft }} {{ 'SECONDS' | translate }}</b>
        </div>
      </ng-container>

      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="form-group">
          <input
            ngModel
            name="email"
            email
            type="email"
            class="form-control"
            placeholder="{{ 'EMAIL' | translate }}"
            required
            (input)="onEmailChangeHandler($event)"
          >
          <i class="ik ik-mail"></i>
          <ng-container *ngIf="(errors | async )">
            <app-form-field-error-list [field]="'email'" [errors]="errors"></app-form-field-error-list>
          </ng-container>
        </div>
        <div class="sign-btn text-center">
          <button type="submit" class="btn btn-theme" [disabled]="!form.valid || (secondsLeft > 0)">{{ 'SEND_RECOVERY_LINK' | translate }}</button>
        </div>
      </form>
      <div class="register">
        <p><a routerLink="/security/register" class="btn btn-success">{{ 'CREATE_AN_ACCOUNT' | translate }}</a></p>
      </div>
    </div>
  </div>
</div>
