<div class="row text-center">

  <ng-container *ngIf="!user.deleted">

    <div class="col-6 border-right" *ngIf="!user.isBlocked">
    <span
      (click)="onUserBlockClickHandler($event)"
      class="link d-flex align-items-center text-warning justify-content-center btn pl-0 pr-0 pt-0 pb-0">
      <i class="ik ik-slash f-20 mr-5"></i>{{ 'BLOCK' | translate }}
    </span>
    </div>
    <div class="col-6 border-right" *ngIf="user.isBlocked">
    <span
      (click)="onUserUnBlockClickHandler($event)"
      class="link d-flex align-items-center text-secondary justify-content-center btn pl-0 pr-0 pt-0 pb-0">
      <i class="ik ik-slash f-20 mr-5"></i>{{ 'UNBLOCK' | translate }}
    </span>
    </div>
    <div class="col-6">
        <span
              (click)="onUserDeleteClickHandler($event)"
              class="link d-flex align-items-center justify-content-center text-danger btn pl-0 pr-0 pt-0 pb-0"
        >
          <i class="ik ik-delete f-20 mr-5"></i>{{ 'DELETE' | translate }}
        </span>
    </div>
  </ng-container>



</div>
