<div class="p20">
  <ng-container *ngIf="(user | async)">
    <div class="row">
      <div class="col-md-3 col-6"> <strong>{{ 'FULL_NAME' | translate }}</strong>
        <br>
        <app-edit-full-name [user]="(user | async)"></app-edit-full-name>
      </div>

      <div class="col-md-3 col-6" *ngIf="(user | async).isSocialMediaUser()">
        <strong>{{ 'AUTH' | translate }}</strong>
        <br>
        <img *ngIf="(user | async).isVkUser()"
          src="../../../../../../assets/picture/vk-icon.png"
          style="width: 30px;"
        />
      </div>

      <div class="col-md-3 col-6" *ngIf="!(user | async).isSocialMediaUser()">
        <strong>{{ 'EMAIL'| translate }}</strong>
        <br>
        <p class="text-muted">{{ (user | async).email ? (user | async).email : 'none' }}</p>
      </div>

      <div class="col-md-3 col-6"> <strong>{{ 'LOCATION' | translate }}</strong>
        <br>
        <app-my-text-location-view [user]="user | async"></app-my-text-location-view>

      </div>
    </div>

    <hr />
    <app-edit-about [user]="(user | async)"></app-edit-about>
    <hr />
    <app-edit-interests [user]="(user | async)"></app-edit-interests>
    <hr />

    <app-selected-country-view
      [country]="(user | async).residenceCountry"
      [noSelectedMessage]="('UNKNOWN' | translate) + '...'"
      [label]="'RESIDENCE_COUNTRY' | translate"
    ></app-selected-country-view>
<!--    <app-edit-residence-country [user]="(user | async)"></app-edit-residence-country>-->
    <hr />
    <app-edit-search-country [user]="(user | async)"></app-edit-search-country>

    <div>

    </div>
  </ng-container>
</div>



