<app-editable-field
  (onCancel)="onCancelEditHandler($event)"
  (onInit)="onEditInitHandler($event)"
  (onCommit)="onEditCommitHandler($event)"
  [saving]="isSaving"
>

  <div view-area>
    <app-selected-country-view
      [country]="user.residenceCountry"
      [label]="'Residence Country'"
      [noSelectedMessage]="'Not Selected'"
    ></app-selected-country-view>
  </div>

  <div edit-area>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="residence-country">Residence Country</label>
        <select
          [(ngModel)]="country"
          [compareWith]="compareEntity"
          [required]="true"
          name="country"
          id="residence-country"
          class="form-control"
        >
          <option *ngFor="let currentCountry of countries | async" [ngValue]="currentCountry">{{ currentCountry.name }}</option>
        </select>
      </div>
    </form>
  </div>


</app-editable-field>
