<!--<div class="container">-->
<!--  <div class="card-body">-->
<!--    <span class="btn btn-dark">Hello</span>-->
<!--  </div>-->
<!--  <div class="card-body template-demo">-->
<!--    <button type="button" class="btn btn-outline-primary">Primary</button>-->
<!--    <button type="button" class="btn btn-outline-secondary">Secondary</button>-->
<!--    <button type="button" class="btn btn-outline-success">Success</button>-->
<!--    <button type="button" class="btn btn-outline-danger">Danger</button>-->
<!--    <button type="button" class="btn btn-outline-warning">Warning</button>-->
<!--    <button type="button" class="btn btn-outline-info">Info</button>-->
<!--  </div>-->
<!--  <div class="card-body template-demo">-->
<!--    <button type="button" class="btn btn-outline-primary btn-rounded">Primary</button>-->
<!--    <button type="button" class="btn btn-outline-secondary btn-rounded"><i class="ik ik-heart"></i>Secondary</button>-->
<!--    <button type="button" class="btn btn-outline-success btn-rounded">Success</button>-->
<!--    <button type="button" class="btn btn-outline-danger btn-rounded">Danger</button>-->
<!--    <button type="button" class="btn btn-outline-warning btn-rounded">Warning</button>-->
<!--    <button type="button" class="btn btn-outline-info btn-rounded">Info</button>-->
<!--    <button type="button" class="btn btn-outline-light btn-rounded">Light</button>-->
<!--    <button type="button" class="btn btn-outline-dark btn-rounded">Dark</button>-->
<!--    <button type="button" class="btn btn-outline-link btn-rounded">Link</button>-->
<!--  </div>-->
<!--  <div class="card-body template-demo">-->
<!--    <button type="button" class="btn btn-icon btn-outline-dark"><i class="ik ik-image"></i></button>-->
<!--    <button type="button" class="btn btn-icon btn-outline-secondary"><i class="ik ik-settings"></i></button>-->
<!--    <button type="button" class="btn btn-icon btn-outline-success"><i class="ik ik-mail"></i></button>-->
<!--    <button type="button" class="btn btn-icon btn-outline-primary"><i class="ik ik-star"></i></button>-->
<!--    <button type="button" class="btn btn-icon btn-outline-warning"><i class="ik ik-map-pin"></i></button>-->
<!--    <button type="button" class="btn btn-icon btn-outline-info"><i class="ik ik-refresh-cw"></i></button>-->
<!--  </div>-->
<!--  <div class="card-body template-demo">-->
<!--    <button type="button" class="btn btn-light"><i class="ik ik-heart"></i>Default</button>-->
<!--    <button type="button" class="btn btn-primary"><i class="ik ik-star"></i>Primary</button>-->
<!--    <button type="button" class="btn btn-success"><i class="ik ik-check-circle"></i>Success</button>-->
<!--    <button type="button" class="btn btn-secondary"><i class="ik ik-clipboard"></i>Submit</button>-->
<!--    <button type="button" class="btn btn-dark"><i class="ik ik-edit-2"></i>Edit</button>-->
<!--    <button type="button" class="btn btn-danger"><i class="ik ik-info"></i>Warning</button>-->
<!--    <button type="button" class="btn btn-info"><i class="ik ik-share"></i>Upload</button>-->
<!--  </div>-->
<!--</div>-->
<router-outlet></router-outlet>
