<ng-container *ngIf="!!user">
  <app-editable-field
    (onCancel)="onCancelEditHandler($event)"
    (onInit)="onEditInitHandler($event)"
    (onCommit)="onEditCommitHandler($event)"
    [saving]="isSaving"
  >

    <div view-area>
      <app-selected-country-view
        [country]="user.searchCountry"
        [label]="'Search Country'"
        [noSelectedMessage]="'Not Selected'"
      ></app-selected-country-view>
    </div>

    <div edit-area>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="search-country">Search Country</label>
          <select
            [(ngModel)]="country"
            [compareWith]="compareEntity"
            [required]="true"
            name="country"
            id="search-country"
            class="form-control"
          >
            <option *ngFor="let currentCountry of countries | async" [ngValue]="currentCountry">{{ currentCountry.name }}</option>
          </select>
        </div>
      </form>
    </div>


  </app-editable-field>
</ng-container>
